@model IEnumerable<Teste_FitCard.Models.CategoriaModel>
@{
    ViewBag.Title = "Index";
}

<h3>Cadastrar/Editar Categorias</h3>

@using (Html.BeginForm("Index", "Categoria", null, FormMethod.Post, new { @class = "", @id = "form-categoria" }))
{

    <div class="form-row">
        <div class="col-md-2 form-group">

            @Html.TextBox("IdCategoria", "", new { @class = "form-control", @readonly = true, placeholder = "Automático" })
        </div>
        <div class="col-md-10">

            <div class="input-group mb-3">

                @Html.TextBox("Categoria", "", new { @class = "form-control", @required = true, placeholder = "Categoria" })
                <div class="input-group-prepend">
                    <button class="btn btn-primary" id="btnSubmit" type="submit">Adicionar</button>
                </div>
                <div id="divCancancelar" class="input-group-prepend d-none">
                    <button class="btn btn-danger" id="btnCancelar" type="button">Cancelar</button>
                </div>
            </div>


        </div>



    </div>


}

<br />

<table id="categorias" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Código
            </th>
            <th scope="col">
                Categoria
            </th>
            <th scope="col">
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <th scope="row">@item.IdCategoria</th>
                <td>@item.Categoria</td>
                <td>

                    <a href="#" onclick="Editar('@item.IdCategoria','@item.Categoria')" id="edit"><i class="fas fa-edit"></i></a>

                    <a href="@Url.Action("Delete",new{id=@item.IdCategoria})"><i class="fas fa-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {

        var sucesso = '@ViewBag.sucesso';
        var erro = '@ViewBag.erro';

        if (sucesso.length > 0) {
            MessageSucess(sucesso);

            $("#IdCategoria").val('');
            $("#Categoria").val('');
        }

        if (erro.length > 0) {
            MessageError(erro);
        }


        $("#btnCancelar").click(function () {
            $("#IdCategoria").val('');
            $("#Categoria").val('');
            document.getElementById("btnSubmit").innerText = "Adicionar";
            $("#divCancancelar").addClass("d-none");

        })

    });

    $("#form-categoria").validate({

        errorPlacement: function () {
            return false;
        },
        rules: {

            Categoria: {
                required: true

            }

        },
        submitHandler: function (form) {

                       form.submit();
        }
    });


    function Editar(idcategoria, categoria) {
        $("#IdCategoria").val(idcategoria);
        $("#Categoria").val(categoria);
        $('#divCancancelar').removeClass("d-none");
        document.getElementById("btnSubmit").innerText = "Atualzar";

    }

</script>
