@model Teste_FitCard.Models.EstabelecimentoModel
@{
    ViewBag.Title = "Cadastro";
    var categorialist = (MultiSelectList)TempData["CategoriaList"];

    IEnumerable<string> status = new List<string> { "Ativo", "Inativo" };

    var listaAtivo = new MultiSelectList(status);

    var states = (List<SelectListItem>)ViewBag.States;

    var cidades = (List<SelectListItem>)Session["CIDADES"];

}

<h3>Cadastro/Editar</h3>


@using (Html.BeginForm("AddOrUpdate", "Estabelecimento", null, FormMethod.Post, new { @id = "form-cadastro", @class = "form-validade" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.IdEstabelecimento)
    <div class="card">
        <div class="card-header"> Dados do Estabelecimento</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 form-group">
                    *@Html.LabelFor(m => m.NomeRazao)
                    @Html.TextBoxFor(m => m.NomeRazao, new { @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(m => m.NomeRazao)
                </div>

                <div class="col-md-4 form-group">
                    *@Html.LabelFor(m => m.CNPJ)
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control cnpj", @required = true })
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 form-group">
                    @Html.LabelFor(m => m.NomeFantasia)
                    @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control" })

                </div>
                <div class="col-md-4 form-group">
                   *@Html.LabelFor(m => m.Categoria.Categoria)
                    @*@Html.DropDownList("Categoria", null, null, new { @class = "form-control" })*@
                    @Html.DropDownListFor(m => m.Categoria.IdCategoria, new MultiSelectList(categorialist, "Value", "Text"), "--Selecione--", new { @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(m => m.Categoria.Categoria, null, new { @class = "alert-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.DataCadastro)
                    @Html.TextBoxFor(m => m.DataCadastro, new { @class = "form-control date",@autocomplete="off" })
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Status)
                    @Html.DropDownListFor(m => m.Status, new MultiSelectList(listaAtivo, "Text", "Text"), "--Selecione--", new { @class = "form-control" })

                </div>
            </div>

            <hr />
            <p><h5>Dados de Contato</h5></p>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Telefone)
                    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control phone_with_ddd" })
                </div>
            </div>

            <hr />
            <p><h5>Dados de Endereço</h5></p>
            <div class="row">

                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Endereco.Estado)
                    @Html.DropDownListFor(m => m.Endereco.Estado, states, "--Selecione--", new { @class = "form-control estado", @id = "ddlestado" })
                    @*@Html.DropDownListFor(m => m.Endereco.Estado, new MultiSelectList("Estados", "Value", "Text"), new { @class = "form-control" })*@
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Endereco.Cidade)
                    @Html.DropDownListFor(m => m.Endereco.Cidade, cidades, "--Selecione--", new { @class = "form-control", @id = "ddlCidade" })
                    @*@Html.TextBoxFor(m => m.Endereco.Cidade, new { @class = "form-control" })*@
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Endereco.Logradouro)
                    @Html.TextBoxFor(m => m.Endereco.Logradouro, new { @class = "form-control" })
                </div>
            </div>

            <hr />
            <p><h5>Dados Bancário</h5></p>

            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.DadosBancario.Agencia)
                    @Html.TextBoxFor(m => m.DadosBancario.Agencia, new { @class = "form-control agencia" })

                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.DadosBancario.Conta)
                    @Html.TextBoxFor(m => m.DadosBancario.Conta, new { @class = "form-control contacorrente" })
                </div>
            </div>
        </div>
    </div>
    <br />

    <button id="btnSubmit" type="submit" class="btn btn-primary">Confirmar</button>
}

<script>

    $(document).ready(function() {

        var msgError = '@ViewBag.error';
        var msgsucesso = '@ViewBag.sucesso';

        if (msgError.length > 0) {

            //alert(msgError);

            MessageError(msgError);
        }

        if (msgsucesso.length > 0) {
            //alert(msgsucesso);
            MessageSucess(msgsucesso);
        }

        $("#ddlestado").change(function () {

            var uf = $("#ddlestado").val();
            $("#ddlCidade").empty();

            CarregaCidadeS(uf);

        });

    });

    function CarregaCidadeS(uf) {

        $("#ddlCidade").empty();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCidade")',
            dataType: 'json',
            data: { uf: uf },
            success: function (states) {

                $.each(states, function (i, state) {
                    $("#ddlCidade").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');

                });
            },
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });

    }

</script>