@model Teste_FitCard.Models.EstabelecimentoModel
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro de Estabelecimento</h2>


@using (Html.BeginForm("Cadastro", "Estabelecimento", null, FormMethod.Post, new { @id = "form-cadastro" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.IdEstabelecimento)
    <div class="card">
        <div class="card-header"> Dados do Estabelecimento</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 form-group">
                    @Html.LabelFor(m => m.NomeRazao):
                    @Html.TextBoxFor(m => m.NomeRazao, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.CNPJ):
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.NomeFantasia):
                    @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Tipo de Estabelecimento
                    @Html.DropDownList("Categoria", null, string.Empty, new { @class = "form-control" })
                </div>
            </div>


        </div>


    </div>
    <br />

    <div class="card">
        <div class="card-header">Dados de Endereço</div>
        <div class="card-body">
            <div class="row">

            </div>
        </div>
    </div>





    <button id="btnSubmit" type="submit" class="btn btn-primary">Cadastrar</button>
}

