@using Teste_FitCard.Models
@model IEnumerable<Teste_FitCard.Models.EstabelecimentoModel>
@{
    ViewBag.Title = "Index";

    var LISTA = (IEnumerable<EstabelecimentoModel>)TempData["ESTABELICIMENTOLIST"];
}



<h2>Lista de Estabelecimento</h2>

<p class="input-group rounded">
    <input type="search" id="search" class="form-control rounded" placeholder="Pesquisar estabelecimento" aria-label="Search"
           aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</p>



<table id="estabelecimento" class="table table-striped">
    <thead class="thead-dark">
        <tr class="text-center">


            <th scope="col" class="d-none d-sm-table-cell">
                #
            </th>

            <th scope="col">
                Razão Social
            </th>
            @*<th scope="col">
                    Fantasia
                </th>*@
            <th scope="col">
                CNPJ
            </th>
            @*<th scope="col">
                    E-mail
                </th>*@
            @*<th scope="col">
                    Cidade
                </th>*@
            @*<th scope="col">
                    Estado
                </th>*@
            @*<th scope="col">
                    Telefone
                </th>*@
            <th scope="col" class="d-none d-sm-table-cell">
                Data de Cadastro
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                Categoria
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                Status
            </th>
            @*<th scope="col">
                    Agência / Conta
                </th>*@
            <th scope="col">
                Ação
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in LISTA)
        {
            <tr class="text-left font-weight-normal">

                <th scope="row" class="d-none d-sm-table-cell">@item.IdEstabelecimento</th>
                <td>@item.NomeRazao</td>
                <td>@item.CNPJ.FormatCNPJ()</td>
                <td class="text-center d-none d-sm-table-cell">
                    @if (item.DataCadastro != null)
                    {
                        @item.DataCadastro.Value.ToString("dd/MM/yyyy")
                    }


                </td>
                <td class="d-none d-sm-table-cell">@item.Categoria.Categoria</td>
                <td class="d-none d-sm-table-cell">@item.Status</td>


                <td class="text-center">
                    <a href="@Url.Action("AddOrUpdate",new {id=item.IdEstabelecimento})"><i class="fas fa-edit"></i></a>

                    <a class="delete" onclick="ConfirmDelete(@item.IdEstabelecimento)" href="#"><i class="fas fa-trash"></i></a>
                </td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#detail_@item.IdEstabelecimento"><i class="fas fa-search-plus"></i></a>


                    <!-- The Modal -->
                    <div class="modal" id="detail_@item.IdEstabelecimento">
                        <div class="modal-dialog">
                            <div class="modal-content">


                                <div class="modal-header">
                                    <h4 class="modal-title">Detalhes</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col">
                                            Data Cadastro: @item.DataCadastro
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            Telefone: @item.Telefone
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Estado: @item.Endereco.Estado
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Cidade: @item.Endereco.Cidade
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Logradouro: @item.Endereco.Logradouro
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            Âgencia: @item.DadosBancario.Agencia
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Conta Corrente: @item.DadosBancario.Conta
                                        </div>

                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                </div>

                            </div>
                        </div>
                    </div>


                </td>
            </tr>

        }
    </tbody>
</table>

<script>

    $(document).ready(function () {

        $("#search").keyup(function () {

            var value = $(this).val().toLowerCase();

            $("#estabelecimento tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });



    });

    function ConfirmDelete(param) {

        bootbox.confirm({
            message: "Você realmente quer excluir registro?",
            buttons: {
                confirm: {
                    label: 'Sim',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Não',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result) {
                    location.href = "/Estabelecimento/Delete/" + param;

                    MessageSucess('registro excluido com sucesso');
                }
                // console.log('This was logged in the callback: ' + result);
            }
        });


        
    };

</script>
